#container{
    width: 350px;
    height: 530px;
    border: 1px;
    border-radius: 6px;
    background-color: #58b750;
    margin-left: 500px;
    float: left;
}

.caption {
    background-color: #d1d1d1;
    border-bottom: 1px solid black;
    width: auto;
    padding: 7px;
}